<div class="jumbotron jumbotron-fluid overflow-auto animated fadeIn faster" [ngClass]="{'altura': pelicula != null}">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-tabla-pelicula [peliculas]="peliculas"
                                    (peliculaSeleccionada)="tomarPeliculaParaDetalles($event)"
                                    (indexPeliculaSeleccionada)="tomarIndexPelicula($event)">
                </app-tabla-pelicula>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <app-detalle-pelicula   [pelicula]="pelicula" 
                                    [borrado]="1" 
                                    (eventoBorrarPelicula)="borrarPelicula($event)">
            </app-detalle-pelicula>
        </div>
    </div> 
</div> 