<div class="jumbotron jumbotron-fluid overflow-auto" [ngClass]="{'altura': pelicula != null}">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <app-tabla-pelicula [peliculas]="peliculas"
                                    (peliculaSeleccionada)="tomarPeliculaParaDetalles($event)"
                                    (indexPeliculaSeleccionada)="tomarIndexPelicula($event)">
                </app-tabla-pelicula> -->
                <app-tabla-paises     [paises]="paises"
                                    (paisSeleccionado)="tomarPaisParaDetalles($event)"
                                    (indexpaisSeleccionado)="tomarIndexPais($event)">
                </app-tabla-paises>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <app-detalle-pelicula   [pelicula]="pelicula">
            </app-detalle-pelicula>
        </div>
    </div> 
</div> 