<div class="card border-dark mb-3 animated fadeIn faster" style="max-width: 540px;" *ngIf="actor">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="actor.foto" class="card-img" alt="..." width="250" height="250">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center w-100">
                <h2 class="card-title"> {{ actor.nombre | uppercase }} </h2>
                <h5 class="card-title"> {{ actor.sexo | uppercase }} </h5>
                <p class="card-text"> Nacimiento: {{ actor.fecha_de_nac }} </p>
                <p class="card-text" *ngIf="actor.nacionalidad"> Nacionalidad: {{ actor?.nacionalidad }} </p>
            </div>
        </div>
    </div>
</div>