<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fecha de Estreno</th>
            <th scope="col">Cantidad de Público</th>
            <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas" (click)="seleccionarPelicula(pelicula)">
            <th> {{ pelicula.id }} </th>
            <td> {{ pelicula.nombre }} </td>
            <td> {{ pelicula.tipo }} </td>
            <td> {{ pelicula.fecha_de_estreno }} </td>
            <td> {{ pelicula.cantidad_de_publico }} </td>
            <td> <img [src]="pelicula.foto" alt="" width="100" height="100"></td>
        </tr>
    </tbody>
</table>