<div class="jumbotron jumbotron-fluid overflow-auto" [ngClass]="{'altura': actor != null}">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-tabla-actor [actores]="actores" (eventoActorSeleccionado)="tomarActorParaDetalles($event)"
                    (eventoIndexSeleccionado)="tomarIndexActor($event)">
                </app-tabla-actor>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <app-detalle-actor [actor]="actor" (eventoBorrarActor)="borrarActor($event)">
            </app-detalle-actor>
        </div>
        <div class="col">
            <app-editar-actor   [actor]="actor"
                                (eventoEditarActor)="editarActor($event)"></app-editar-actor>

        </div>
    </div>
</div>