<div class="card border-dark mb-3" style="max-width: 540px;" *ngIf="pelicula">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="pelicula.foto" class="card-img" alt="..." width="250" height="250">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center w-100">
                <h2 class="card-title"> {{ pelicula.nombre | uppercase }} </h2>
                <h5 class="card-title"> {{ pelicula.tipo | uppercase }} </h5>
                <p class="card-text"> Se estrenó el día: {{ pelicula.fecha_de_estreno }} </p>
                <p class="card-text"> Fue visto por: {{ pelicula.cantidad_de_publico }} personas</p>
                <p class="card-text" *ngIf="pelicula.actor"> Actor: {{ pelicula?.actor.nombre }} </p>
                <button class="btn btn-danger btn-block" *ngIf="borrado === 1" (click)="borrarPelicula(pelicula.id)">
                    <i class="fas fa-trash"></i> Borrar
                </button>
            </div>
        </div>
    </div>
</div>